<% if (status.show) { %>
    <aside class="absolute top-10 right-10 w-1/5">
        <% status.messages.forEach(message => { %>
            <div class="bg-white shadow-md my-5 p-3">
                <p class="flex justify-between items-center"><%= message %> <span class=" text-xl">x</span> </p>
            </div>
        <% }) %>
    </aside>
<% } %>
<form action="/auth/login" method="post">
    <input name="email" type="email" placeholder="Email...">
    <input name="password" type="password" placeholder="Password...">
    <button>Enviar</button>
</form>