<form action="/auth/login" method="post">
    <input name="email" type="email" placeholder="Email...">
    <input name="password" type="password" placeholder="Password...">
    <button>Enviar</button>
</form>