<main class="">
    <div class="">
        
    </div>
</main>

<main class="bg-gray-100 p-10 w-2/3 mx-auto mt-20">
    <div class="">
        <img class="mx-auto w-1/2" src="https://www.psdstamps.com/wp-content/uploads/2019/11/grunge-access-denied-label-png.png" alt="Not found">
        <h1 class="text-4xl font-bold w-1/2 text-center mx-auto">Sin permiso</h1>
        <p class="text-2xl text-center mt-5">No tienes permiso de ver ese recurso</p>
    </div>
</main>