<form action="/auth/signup" method="post">
    <input name="name" type="text" placeholder="Name...">
    <input name="username" type="text" placeholder="Username...">
    <input name="date" type="date">
    <input name="profilePic" type="text" placeholder="Profile pic...">
    <input name="email" type="email" placeholder="Email...">
    <input name="password" type="password" placeholder="Password...">
    <input name="passwordRepeated" type="password" placeholder="Repeat Password...">
    <button>Enviar</button>
</form>

<% if (isError) { %>
    <ul>
        <% errors.forEach(error => { %>
            <li><%= error %> </li>
        <% }) %>
    </ul>
<% } %>