<nav class="bg-blue-500 p-5 text-white">
    <ul class="flex gap-10">
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 1</a></li>
    </ul>
</nav>