<nav class=" bg-slate-900 text-white">
    <a href="">Home</a>
    <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Sign up</a></li>
        <li><a href="">Link3</a></li>
        <li><a href="">Link4</a></li>
    </ul>
</nav>