<nav class=" bg-slate-900 text-white flex p-5">
    <a href="/">Home</a>
    <ul class="flex ml-auto gap-5">
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Sign up</a></li>
        <li><a href="/chats/">Mis chats</a></li>
        <li><a href="">Link3</a></li>
        <li><a href="">Link4</a></li>
    </ul>
</nav>