doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        block styles
    body 
        nav
            ul
                li Link 1
                li Link 2
                li Link 3
                li Link 4
        block content

        include ../components/footer.pug