<h1>Bienvenido</h1>
<p>{{username}}</p>

{{#if hasUsers }}
<ul>
    {{#each users}}
    <li>{{this.name}} {{formatDate this.birthday}}</li>
    {{/each}}
</ul>
{{else}}
<p>Ningun usuario registrado</p>
{{/if}}