<h1>Bienvenido</h1>
<p>{{username}}</p>

{{#if hasUsers }}
<ul>
    {{#each users}}
    <li class="text-green-700">{{this.name}} {{formatDate this.birthday}}</li>
    {{/each}}
</ul>
{{else}}
<p class="text-red-500">Ningun usuario registrado</p>
{{/if}}