<form action="/signup" method="post">
    {{!-- name: es el nombre de la propiedad cuando recibamos el formulario --}}
    {{!-- type: indica el tipo de formulario --}}
    <input type="text" name="name" placeholder="Name..." required>
    <input type="email" name="email" placeholder="Email..." required>
    <input type="password" name="password" placeholder="Password..." required>
    <button>Enviar</button>
</form>